* {
  margin: 0px;
  padding: 0px;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padx-1 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.pady-1 {
  padding-right: 1%;
  padding-left: 1%;
}

.pady-3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.pady-4 {
  padding-top: 4%;
  padding-bottom: 4%;
}

.mx-1 {
  margin-left: 1%;
  margin-right: 1%;
}

.ml-auto {
  margin-left: auto;
}

.inline {
  display: inline;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: aqua;
}

.green {
  background-color: green;
}

.lightgray {
  background-color: lightgray;
}

.b-radius {
  border-radius: 5px;
}

.center {
  text-align: center;
}

.list-none {
  list-style: none;
}

.text-none {
  text-decoration: none;
}

.color-white {
  color: white;
}

.fontrem-1 {
  font-size: 1rem;
}

.border2px {
  border: 2px solid black;
}

.pointer {
  cursor: pointer;
}

.height22 {
  height: 22px;
}

.outline-none {
  outline: none;
}

.underline-hover:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.flex-column {
  flex-direction: column;
}

.block {
  display: block !important;
}

.contents {
  display: contents;
}

.my-1 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.flex {
  display: flex !important;
}

.width80 {
  width: 80%;
}

.inline-flex {
  display: inline-flex;
}

.align-center {
  align-items: center;
}

.table-cells {
  padding: 0.5rem;
  text-align: left;
}

.border-collapse {
  border-collapse: collapse;
}

.universalspan {
  margin-right: auto;
  margin-left: 10%;
}

.height36 {
  height: 36px;
}

.none {
  display: none;
}

.padx-2 {
  padding-right: 2%;
  padding-left: 2%;
}

.pady-2 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
}

.mx-2 {
  margin-right: 2%;
  margin-left: 2%;
}

.justify-center {
  justify-content: center;
}

.over-hidden {
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.width-75 {
  width: 75%;
}

.bold {
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

.my-2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.my-3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.my-4 {
  margin-top: 4%;
  margin-bottom: 4%;
}

.outline:hover {
  outline: yellow !important;
  outline-style: ridge !important;
}

.outline-red {
  outline: red !important;
  outline-style: ridge !important;
}

.attachment-fixed {
  background-attachment: fixed;
}

.justify-between {
  justify-content: space-between;
}

.shadow-black-1px {
  text-shadow: 1px 1px black;
}

.text-shadow-1px-5px-lightblue {
  text-shadow: 1px 1px 5px lightblue;
}

.shadow-black-2px {
  text-shadow: 2px 2px black;
}

.flex-wrap {
  flex-wrap: wrap;
}

.break-word {
  word-break: break-word;
}

.break-word-all {
  word-break: break-all;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.color-red {
  color: red;
}

.color-darkgray {
  color: darkgray;
}

.color-lightgray {
  color: lightgray;
}

.height-100vh {
  height: 100vh;
}

.height-100 {
  height: 100%;
}

.relative {
  position: relative;
}

.top-50 {
  top: 50%;
}

.top-0 {
  top: 0%;
}

.left-0 {
  left: 0%;
}

.font-serif {
  font-family: serif;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.border1px-black {
  border: 1px solid black;
}

.border1px-red {
  border: 1px solid red;
}

.border-bottom-1px-red {
  border-bottom: 1px solid red;
}

.border1px-white {
  border: 1px solid white;
}

.mr-3 {
  margin-right: 3%;
}

.ml-3 {
  margin-left: 3%;
}
.mr-1 {
  margin-right: 1%;
}

.ml-1 {
  margin-left: 1%;
}

.mr-2 {
  margin-right: 2%;
}

.ml-2 {
  margin-left: 2%;
}

.mt-2 {
  margin-top: 2%;
}

.mb-4 {
  margin-bottom: 4%;
}

.mb-2 {
  margin-bottom: 2%;
}

.border-circle {
  border-radius: 50%;
}

.width-max {
  width: max-content;
}

.width-min {
  width: min-content;
}

.bg-white {
  background-color: white;
}

.height-auto {
  height: auto !important;
}

.p-1 {
  padding: 1%;
}

.p-2 {
  padding: 2%;
}

.p-3 {
  padding: 3%;
}

.p-4 {
  padding: 4%;
}

.color-orange {
  color: orange;
}

.fontrem-2 {
  font-size: 2rem;
}

.inline-block {
  display: inline-block;
}

.color-blue-gradient {
  color: #0082ac;
}

.shadow-white-1px {
  text-shadow: 1px 1px white;
}

.background-transparent {
  background-color: transparent;
}

.color-aqua {
  color: aqua;
}

.z-index--1 {
  z-index: -1;
}

.justify-around {
  justify-content: space-around;
}

.font-larger {
  font-size: larger;
}

.font-x-larger {
  font-size: x-large;
}

.background-norepeat {
  background-repeat: no-repeat;
}

.background-center {
  background-position: center;
}

.background-cover {
  background-size: cover;
}

.color-inherit {
  color: inherit;
}

.m-1 {
  margin: 1%;
}

.m-2 {
  margin: 2%;
}

.m-3 {
  margin: 3%;
}

.m-4 {
  margin: 4%;
}

.color-black {
  color: black;
}

.w-appearance-none {
  -webkit-appearance: none;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.height-inherit {
  height: inherit;
}

.width-inherit {
  width: inherit;
}

.width-moz-fit-content {
  width: -moz-fit-content;
}

.box-shadow-1px-5px {
  box-shadow: 1px 1px 5px lightgray, -1px -1px 5px lightgray;
}

.text-align-end {
  text-align: end;
}

.text-align-start {
  text-align: start;
}

.border-bottom-1px {
  border-bottom: 1px solid black;
}

.mt-3 {
  margin-top: 3%;
}

.pt-1 {
  padding-top: 1%;
}

.scroll-behaviour-smooth {
  scroll-behavior: smooth;
}

.border-x-1px-black {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mr-auto {
  margin-right: auto;
}

.color-green {
  color: green;
}

.border1px-green {
  border: 1px solid green;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.max-width-75 {
  max-width: 75%;
}

.border1px-salmon {
  border: 1px solid salmon;
}

.color-salmon {
  color: salmon;
}

.border-none {
  border: none;
}

.border-bottom-1px-darkgray {
  border-bottom: 1px solid darkgray;
}

.pb-2 {
  padding-bottom: 2%;
}

.width-moz-available {
  width: -moz-available;
}

.bg-lightgreen {
  background-color: lightgreen;
}

.color-darkgreen {
  color: darkgreen;
}

.bg-black {
  background-color: black;
}

.bg-inherit {
  background-color: inherit;
}

.pr-2 {
  padding-right: 2%;
}

.color-gray {
  color: gray;
}

.b-radius-30px {
  border-radius: 30px;
}

.font-family-serif {
  font-family: serif;
}

.border-right-1px-darkgray {
  border-right: 1px solid darkgray;
}

.background-gradient-sal-reb {
  background: linear-gradient(90deg, salmon, rebeccapurple);
}

.width-40 {
  width: 40%;
}

.right-0 {
  right: 0%;
}

.bg-lightcoral {
  background-color: coral;
}

.bottom-0 {
  bottom: 0%;
}

.display-inherit {
  display: inherit;
}

.color-blueViolet {
  color: blueviolet;
}

.opacity-50 {
  opacity: 0.5;
}
.user-select-none {
  user-select: none;
}
